{% extends "base.html" %}

{% block container %}
      <div class="page-header">
        <h1>Eventos
            <small>
                {% if search %}
                    eventos com a palavra: "{{ search }}"
                {% else %}
                    listagem de eventos
                {% endif %}
            </small>
        </h1>
        <br/>
        <ul>
        	{% for ev in events %}
        	
        	<li>
        		<h4><a href="{% url events_details ev.pk %}">{{ ev.name }}</a></h4>
        		<p> {{ ev.description|truncatewords:"20" }} </p> <!-- truncatewords:"20" pega as 20 primeiras palavras e depois coloca ... -->
        		<br/>
        	</li>
        	{% empty %}
            <li>
                <div class="alert alert-info">
                    Nenhum evento encontrado
                </div>
            </li>
        	{% endfor %}
    	</ul>
      </div>
{% endblock %}