{% extends "base.html" %}

{% block container %}
      <div class="page-header">
        <h1>Fale Conosco!</h1>
      </div>
      <div class="row">
      	<div class="span6">
                  {% if success %}
                  <div class="alert alert-success">
                        Mensagem de contato enviada com sucesso
                  </div>
                  {% else %}
      		<form class="well" action="" method="post">
      			{% csrf_token %}
      			{% for field in form %}
      				<div class="control-group {% if field.errors %} error {% endif %}">
      					{{ field.label_tag }}
      					{{ field }}
                                    {% if field.errors %}
                                          <span class="help-block">
                                                {{ field.errors|join:", " }}
                                                <!--{ for error in field.errors %}
                                                { error }
                                                { endfor %} -->
                                          </span>
                                    {% endif %}
      				</div>
      			{% endfor %}
      			<div class="control-group">
      				<button type="submit" class="btn">Enviar</button>
      			</div>
      			<!-- { form.as_p } -->
      		</form>
                  {% endif %}
      	</div>
      	<div class="span6">
      		<a href="mailto:kakodev@gmail.com">kakodev@gmail.com</a>
      		<p>Projeto criado no curso de Django do Pycursos</p>
      	</div>
      </div>
{% endblock %}