{% extends "base.html" %}

{% block container %}
      <div class="page-header">
        <h1>Fale Conosco!</h1>
      </div>
      <div class="row">
      	<div class="span6">
      		{% if data  %}
      			<p>Nome enviado: {{ data.name }} </p>
      			<p>E-mail enviado: {{ data.email }} </p>
      			<p>Mensagem enviada: {{ data.message }} </p>
      		{% else %}
      		<form class="well" action="" method="post">
      			{% csrf_token %}
      			{% for field in form %}
      				<div class="control-group">
      					{{ field.label_tag }}
      					{{ field }}
      					{{ field.errors }}
      				</div>
      			{% endfor %}
      			<div class="control-group">
      				<button type="submit" class="btn">Enviar</button>
      			</div>
      			<!-- { form.as_p } -->
      		</form>
      		{% endif %}
      	</div>
      	<div class="span6">
      		<a href="mailto:kakodev@gmail.com">kakodev@gmail.com</a>
      		<p>Projeto criado no curso de Django do Pycursos</p>
      	</div>
      </div>
{% endblock %}